<h1> NEW ARTICLE FORM</h1>
<form method = 'POST' action = '/articles'>
Title: <input type = 'text', name = 'title'>
Content:<input type = 'text' name = 'content'>
<input type = 'submit' name = 'submit' id= 'submit'>
</form>